#puyo-canvas {
  background: white;
}

body {
  font-family: "Days One", sans-serif;
  // font-family: 'Chewy', cursive;
  background: #faebd7;
}

header {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
}

header > ul {
  display: flex;
  justify-content: space-around;
}

header > ul > li {
  margin-right: 15px;
}

main {
  font-family: "Days One", sans-serif;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

footer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

footer > ul {
  display: flex;
}

footer > ul > li {
  margin-right: 15px;
}

.title {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 35px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 900;
  color: magenta;
}

.instruction-container {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
}

.instruction-content {
  position: relative;
  display: inline-block;
  width: 100%;
}

.play-symbol {
  color: magenta;
  vertical-align: middle;
  font-weight: 900;
  cursor: pointer;
}

.drop-down-instruction {
  display: none;
  position: absolute;
  background: #ffc300;
  border-radius: 39px;
  padding: 19px;
  max-width: 230px;

}

.instruction-content:hover .drop-down-instruction {
  display: block;
}

.keys-instruction {
  margin-top: 200px;
  background: #ffc300;
  border-radius: 39px;
  padding: 19px;
  max-width: 230px;
}

.puyo-container {
  max-width: 300px;
  width: 100%;
}


.game-info-container {
  max-width: 300px;
}

.score-board {
  padding: 10px 20px;
  background: #ffc300;
  border-radius: 11px;
}

.next-piece-board {
  width: 80px;
  height: 80px;
  background: white;
}

.keys-instruction > ul {
  background: #ffc300;
  border-radius: 39px;
  padding: 28px;
}

#pause-button {
  color: magenta;
}
