#puyo-canvas {
  background: white;
}

body {
  font-family: Calibri;
}

header {
  display: flex;
  justify-content: space-between;
}

header > ul {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}

footer > ul {
  display: flex;
}
